---
title: Timeline
layout: default
---

<!-- 

  REMOVE ALL ANGULAR REFERENCES

-->

<ul class="timeline">

    <li>

      <div class="timeline-badge work">
        <i class="fa fa-desktop"></i>
      </div>

      <div class="timeline-panel">

        <div class="timeline-heading">

          <div class="job-title">Front-End Developer</div>

          <div class="job-img-wrapper">
            <img src="../assets/priceline.png"/>
          </div>

          <div class="title-wrapper">
            <div class="job-dates">Sep 2014 - Present</div>
            <div class="job-companyName">Priceline.com</div>
          </div>

          <div class="show-more-buttons">
            <i class="fa fa-plus-square-o"
                ng-show="!showBody"
                ng-click="showBody = !showBody"></i>
            <i class="fa fa-minus-square-o"
                ng-show="showBody"
                ng-click="showBody = !showBody"></i>
          </div>

        </div> <!-- timeline-heading -->

        <div class="timeline-body"
              ng-show="showBody">

          <ul>
            <li ng-repeat="description in job.description">
              <p>{{description}}</p>
            </li>
          </ul>

        </div> <!-- timeline-body -->

      </div> <!-- timeline-panel -->

    </li>

</ul>
