<div class="info-wrapper">

  <div class="img-wrapper">
    <img src="/assets/mainPicture.png" alt="mainPicture">
  </div>

  <h3>Brendan Scarano</h3>

  <div class="profession-list">
    <h4>Front End Engineer</h4>
    <h4>&bull; Web Developer</h4>
  </div>
  <div class="navigation-buttons">
    <ul>
      <li><a href="/">About</a></li>
      <!-- <li><a href="/timeline">Experience</a></li> -->
      <li><a href="/posts">Blog</a></li>
    </ul>
  </div>

  <div class="contact-me-icons">
    <ul>
      <li>
        <a href="http://www.linkedin.com/in/brendanscarano" target="_blank" class="nav-pics">
          <i class = "fa fa-linkedin icon linkedin"></i></a>
      </li>
      <li>
        <a href="https://github.com/onaracs" target="_blank" class="nav-pics">
          <i class = "fa fa-github icon github"></i></a>
      </li>
      <li>
        <a href="https://soundcloud.com/brendan-joe" target="_blank" class="nav-pics">
          <i class = "fa fa-cloud icon soundcloud"></i></a>
      </li>
      <li>
        <a href="http://www.twitter.com/b_joe_s" target="_blank" class="nav-pics">
          <i class = "fa fa-twitter icon twitter"></i></a>
      </li>
    </ul>
    <h5><i class="fa fa-envelope icon envelope"></i> brendan.scarano@gmail.com</h5>
  </div> <!-- Contact Me -->

</div> <!-- Info Wrapper -->

<!-- <h3>Recent Posts</h3> -->

<!-- <ul>
  {% for post in site.posts %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul> -->