.about-wrapper {
  font-family: 'Lato';
  font-size: 18px;
  p {
    margin-bottom: 20px;
    line-height: 26px;
  }
  a {
    font-weight: bold;
  }
}

.nyc-img {
  position: fixed;
  bottom: 0;
  width: 75%;
  right: -1px;
  opacity: 0.08;
}

