@media only screen
    and (max-width : 900px)
{
  body {
    padding: 0;
    padding-top: 0;
  }
  .about-wrapper,
  .blog-wrapper,
  .blog-selection-wrapper {
    padding-top: 0;
  }
  .container {
    margin: 0;
    width: 100%;
  }
  .sidebar {
      margin-top: 2rem;
      position: static;
      width: 100%;
      top: 0px;
      bottom: 0px;
      left: 0px;
      text-align: center;
      background: #f9f9f9;
      height: 100%;
      h1 {
        text-align: center;
      }
  }
  .info-wrapper {
    margin-top: 0;
    img {
      width: 175px;
      margin-top: 14px;
    }
  }
  .profession-list {
    text-align: center;
  }
  .contact-me-icons,
  .navigation-buttons {
    ul {
      text-align: center;
    }
  }
  .contact-me-icons h3 {
      text-align: center;
  }
  .main-content {
    margin: 0;
    padding: 10px;
  }
  .next-blog-arrows {
    float: none;
  }
  .youtube-video {
    display: none;
  }
  .timeline {
    li {
        .timeline-panel {
          margin-right: 0;
        }
    }
  }
  .timeline-panel {
    margin-right: 0;
  }

}