/* ==============================

          For Phone Resizing

============================== */

.main-content {
  margin: 0 0 0 330px;
}

.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  text-align: center;
  background: #f5f6f5;
  height: 100%;
  width: 330px;
  background-image: url('../assets/footer_lodyas.png');

  h1 {
    font-size: 24px;
    margin-bottom: 2px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lato';
    font-weight: 500;
    line-height: 1.0;
  }

  h2 {
    font-size: 18px;
    display: inline;
    font-weight: 400;
  }
}

.info-wrapper {
  margin-top: 25%;
  color: #fff;

  img {
    border: 1px solid black;
    border-radius: 1100px;
    width: 50%;
    height: 170px;
  }
}


.profession-list {
  text-align: center;

  h4 {
    font-weight: 400;
    display: inline-block;
    color: #fff;
  }
}

.navigation-buttons {
  margin: 4px 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      font-size: 32px;
      margin: 0 10px;
      font-size: 18px;

      a {
        color: #949494;
        text-decoration: none;
        &:hover {
            color: #fff;
        }
      }

    }

  }
}

.contact-me-icons {
  margin-top: 10px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      font-size: 32px;
      margin: 0 10px;
    }
    a {
      color: #696969;
    }
  }
  h3 {
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
  }
}


.facebook:hover {
  color: #3B5998;
}

.twitter:hover {
  color: #4099FF;
}

.linkedin:hover {
  color: #4875B4
}

.soundcloud:hover {
  color: #ff7700;
}

.github:hover {
 color: #4183c4;
}


