---
layout: post
---

{% include header.html %}


<div class="sidebar">
  {% include sidebar.html %}
</div>
<div class="main-content">
  <div class="blog-wrapper">
    <div class="next-blog-arrows">
      {% if page.previous.url %}
        <a class="prev" href="{{page.previous.url}}">&#8592; Previous Post</a>
      {% endif %}

      {% if page.next.url %}
        <a class="next" href="{{page.next.url}}">Next Post &#8594;</a>
      {% endif %}
    </div>

    <div class="blog">
      <div class="entry">
        <h2><div class="entry-date">{{ page.date | date: "%m-%d-%Y" }}</div></h2>
        <h2><div class="entry-title">{{ page.title }}</div></h2>

        {{ content }}

      </div>

    </div>

    <div class="bottom-blog-arrows">
      <div class="next-blog-arrows">
        {% if page.previous.url %}
          <a class="prev" href="{{page.previous.url}}">&#8592; Previous Post</a>
        {% endif %}

        {% if page.next.url %}
          <a class="next" href="{{page.next.url}}">Next Post &#8594;</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% include google_analytics.html %}

{% include footer.html %}